/* You can add global styles to this file, and also import other style files */
li {
    font-size: large;
}

div.panel-heading {
   font-size: x-large;
}

.navbar .nav.pull-right {
    float: right;
   margin-right: 98px; /*set margin this way in your custom styesheet*/
 }